{% extends 'base.html' %}

{% block title %}
    Delete list
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Are you sure?</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <button>Delete</button>
    </form>
</main>
{% endblock content %}
