{% extends 'base.html' %}

{% block title %}
    {{ todo_object.task }}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ todo_object.name }}</h1>
        <p><a href="{% url 'edit_item' todo_object.id %}">Edit</a></p>
    </div>
    <div>
        <h2>Tasks</h2>
    <table>
        <thead><strong>Task</strong></thead>
        <thead><strong>Due Date</strong></thead>
        {% for item in todo_object.items.all %}
        <tr>
            <td><a href="">{{ item.task }}</a></td>
            <td>{{ item.due_date }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</main>
{% endblock content %}
