{% extends 'base.html' %}

{% block title %}
TodoList
{% endblock title %}

{% block content %}

<main>
    <div>
        <h1>My Lists</h1>
        <div>
            <p><a href="{% url 'create_list' %}">Create a new list</a></p>
            <p><a href="{% url 'create_item' %}">Create a new item</a></p>
        </div>
        <table>
            <thead><strong>Name</strong></thead>
            <thead><strong>Number of items</strong></thead>
            <tbody>
                {% for object in todo_objects %}
                <tr>
                    <td><a href="{% url 'list_one' object.id %}">{{ object.name }}</a></td>
                    <td>{{ object.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
